<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>login成功</h1>
      </div>
      <h1>{{.oauth_token}}</h1>
      <h1>{{.oauth_verifier}}</h1>
    </div>
  </body>
</html>
